* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
}

header {
	background: purple;
	padding: 10px;
}

header > h1 {
	color: white;
	text-align: center;
	font-family: serif;
}

.zone {
	text-align: center;
}

.window {
	background-color: white;
	margin: 10px;
	padding: 10px;
	color: black;
	display: inline-block;
	width: 350px;
	height: 350px;
	text-align: center;
}

.avatar > img {
	height: 225px;
	margin: 15px;
}

.sign {
	display: inline-block;
}

.sign > img {
	border: 5px solid purple;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin: 20px;
}

#play-area {
	height: 285px;
	width: 500px;
}

.score, .info, .exclamation, .message {
	background-color: purple;
	color: white;
	font-family: serif;
	font-size: 30px;
	font-style: bold;
	margin-bottom: 5px;
}

.green-back {
	background-color: green;
}

.red-back {
	background-color: red;
}

.choice > img {
	border: 1px solid white;
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

.choices {
	text-align: center;
}

.choice {
	display: inline-block;
	border: 5px solid purple;
	border-radius: 50%;
	background-color: white;
	margin: 20px;
	transition: 0.2s;
}

.choice:hover {
	cursor: pointer;
	border: 10px solid purple;
	margin: 15px;
}

@media(max-width: 1300px){
	.window {
		width: 190px;
		height: 220px;
	}

	#play-area {
		width: 350px;
		height: 195px;
	}

	.avatar > img {
		height: 125px;
		margin: 10px;
	}

	.sign > img {
		width: 100px;
		height: 100px;
		margin: 10px;
	}

	.score, .info, .exclamation, .message {
		font-size: 20px;
		margin-bottom: 5px;
	}
}